## Simpler Returns - Part I

Download the data for Microsoft (‘MSFT’) from Yahoo Finance for the period ‘2000-1-1’ until today.

In [1]:
import pandas as pd
import numpy as pd
from pandas_datareader import data as wb

In [3]:
MSFT = wb.DataReader('MSFT', data_source='yahoo', start='2000-1-1')

Apply the .**head()** and **.tail()** methods to check if the data is ok. Always pay attention to the dates. Try to get an idea about how the stock price changed during the period.

In [4]:
MSFT.head()

               High       Low      Open     Close      Volume  Adj Close
Date
2000-01-03  59.3125  56.00000  58.68750  58.28125  53228400.0  37.017384
2000-01-04  58.5625  56.12500  56.78125  56.31250  54119000.0  35.766914
2000-01-05  58.1875  54.68750  55.56250  56.90625  64059600.0  36.144032
2000-01-06  56.9375  54.18750  56.09375  55.00000  54976600.0  34.933285
2000-01-07  56.1250  53.65625  54.31250  55.71875  62013600.0  35.389793

In [5]:
MSFT.tail()

,High,Low,Open,Close,Volume,Adj Close
Date,,,,,,
2021-03-17,238.550003,233.229996,236.149994,237.039993,29500700.0,237.039993
2021-03-18,234.190002,230.330002,232.559998,230.720001,34833000.0,230.720001
2021-03-19,232.470001,229.350006,231.020004,230.350006,46410700.0,230.350006
2021-03-22,236.899994,230.139999,230.270004,235.990005,30114700.0,235.990005
2021-03-23,240.729904,237.289993,237.485001,240.490005,9858096.0,240.490005

### Simple Rate of Return

Calculate the simple returns of ‘MSFT’ for the given timeframe.

$$
\frac{P_1 - P_0}{P_0} = \frac{P_1}{P_0} - 1
$$

In [13]:
MSFT['Simple_Return']=MSFT['Adj Close']/MSFT['Adj Close'].shift(1) -1 
MSFT['Simple_Return'].tail()

Date
2021-03-17   -0.002819
2021-03-18   -0.026662
2021-03-19   -0.001604
2021-03-22    0.024484
2021-03-23    0.019069
Name: Simple_Return, dtype: float64