## Monte Carlo - Forecasting Stock Prices - Part I

*Suggested Answers follow (usually there are multiple ways to solve a problem in Python).*

Download the data for Microsoft (‘MSFT’) from Yahoo Finance for the period ‘2000-1-1’ until today.

In [1]:
import pandas as pd
import numpy as np
from pandas_datareader import data as wb

In [4]:
MSFT=pd.DataFrame()
MSFT['Adj Price']=wb.DataReader('MSFT', data_source='yahoo', start ='2000-1-1')['Adj Close']
MSFT.head()

            Adj Price
Date
2000-01-03  37.017384
2000-01-04  35.766914
2000-01-05  36.144032
2000-01-06  34.933285
2000-01-07  35.389793

Use the .pct_change() method to obtain the log returns of Microsoft for the designated period.

In [5]:
log_returns = np.log(1+MSFT.pct_change())
log_returns

            Adj Price
Date
2000-01-03        NaN
2000-01-04  -0.034364
2000-01-05   0.010489
2000-01-06  -0.034072
2000-01-07   0.012983
...               ...
2021-03-22   0.024190
2021-03-23   0.006715
2021-03-24  -0.008963
2021-03-25  -0.013339
2021-03-26   0.017662

[5342 rows x 1 columns]

Assign the mean value of the log returns to a variable, called “U”, and their variance to a variable, called “var”.

In [6]:
u = log_returns.mean()

In [8]:
var= log_returns.var()

Calculate the drift, using the following formula: 

$$
drift = u - \frac{1}{2} \cdot var
$$

In [9]:
drift = u-0.5*var
drift

Adj Price    0.000158
dtype: float64

Store the standard deviation of the log returns in a variable, called “stdev”.

In [10]:
stdev = log_returns.std()

******

Repeat this exercise for any stock of interest to you. :)