# For

In [2]:
even = [0,2,4,6,8,10,12,14,16,18,20]

In [4]:
for n in even:
    print (n, end = " ")

0 2 4 6 8 10 12 14 16 18 20

# While Loops and Incrementing

In [8]:
x=0
while x <= 20:
    print (x, end = " ")
    x +=2

0 2 4 6 8 10 12 14 16 18 20

# Create Lists with the range() Function list(range())
range ( star, stop, step)

In [12]:
list(range(10)) # Comienza en cero, hasta 10 a paso de 1

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [13]:
list(range(2,20,2))

[2, 4, 6, 8, 10, 12, 14, 16, 18]

# Ejemplos Combinados

In [14]:
for n in range(20):
    print (2**n , end = " ")

1 2 4 8 16 32 64 128 256 512 1024 2048 4096 8192 16384 32768 65536 131072 262144 524288

In [25]:
for x in range(20):
    if x%2 == 0:
        print ( "Pares" , x%2 , x)
    else:
        print ("Impares", x%2, x)

Pares 0 0
Impares 1 1
Pares 0 2
Impares 1 3
Pares 0 4
Impares 1 5
Pares 0 6
Impares 1 7
Pares 0 8
Impares 1 9
Pares 0 10
Impares 1 11
Pares 0 12
Impares 1 13
Pares 0 14
Impares 1 15
Pares 0 16
Impares 1 17
Pares 0 18
Impares 1 19

In [26]:
x = [0,1,2]

In [28]:
for item in x:
    print (item, end=" ")

0 1 2

In [29]:
for item in range(len(x)):
    print (x[item], end = " ")

0 1 2

In [30]:
def count (numbers):
    total = 0
    for x in numbers:
        if x <= 20:
            total += 1
    return total

In [31]:
list = [2,3,4,6,765,3,34,46,2,57,4,2,34,23]

In [32]:
count(list)

8

 # Iterations over Dictionaries

In [33]:
prices={}
prices["Box_Of_Spaghetti"]=4
prices["lasagna"]=5
prices["hamburger"]=2

In [43]:
quantity = {
    "Box_Of_Spaghetti":6,
    "lasagna":10,
    "hamburger":0
}

In [46]:
money_spend=0

for x in prices:
    money_spend = money_spend + (prices[x]*quantity[x])
print(money_spend)

74

In [47]:
import numpy

In [48]:
import pandas

In [50]:
import matplotlib

In [52]:
import pandas_datareader