# Sources
## API:
Quandl.  
Alpha Vantage.  
MorningStar.  
iex.  
Yahoo Finance   
Google Finance

In [1]:
import numpy as np
import pandas as pd

In [2]:
ser = pd.Series(np.random.random(5),name="Column 1") #Series: Para que sea tipo Comlumna 
ser

0    0.461136
1    0.425669
2    0.173992
3    0.142177
4    0.401327
Name: Column 1, dtype: float64

In [3]:
ser[2]

0.1739919526455329

In [4]:
from pandas_datareader import data as wb

In [5]:
PG = wb.DataReader('PG', data_source='yahoo', start = '1995-1-1') 
PG

,High,Low,Open,Close,Volume,Adj Close
Date,,,,,,
1995-01-03,15.625000,15.437500,15.468750,15.593750,3318400.0,8.166473
1995-01-04,15.656250,15.312500,15.531250,15.468750,2218800.0,8.101009
1995-01-05,15.437500,15.218750,15.375000,15.250000,2319600.0,7.986450
1995-01-06,15.406250,15.156250,15.156250,15.281250,3438000.0,8.002816
1995-01-09,15.406250,15.187500,15.343750,15.218750,1795200.0,7.970086
...,...,...,...,...,...,...
2021-03-15,129.039993,127.190002,128.389999,128.559998,7172600.0,128.559998
2021-03-16,129.979996,128.509995,128.509995,128.940002,6417100.0,128.940002
2021-03-17,129.839996,128.350006,129.110001,128.419998,6179300.0,128.419998
2021-03-18,129.039993,127.040001,128.210007,128.699997,6866200.0,128.699997
2021-03-19,129.740005,127.900002,129.100006,128.009995,20034500.0,128.009995