# Varianza = Riesgo

In [25]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
from pandas_datareader import data as wb

In [2]:
ticker =["PG", "BEI.DE"]
sec_data=pd.DataFrame()
for t in ticker:
    sec_data[t]= wb.DataReader(t,data_source = 'yahoo', start = '2000-1-1')['Adj Close']
sec_data

                    PG     BEI.DE
Date
2000-01-03   30.441891  15.409262
2000-01-04   29.856142  16.412502
2000-01-05   29.288124  14.794368
2000-01-06   30.637159  15.164228
2000-01-07   33.086712  15.485548
...                ...        ...
2021-03-16  128.940002  87.680000
2021-03-17  128.419998  88.260002
2021-03-18  128.699997  88.139999
2021-03-19  128.009995  88.139999
2021-03-22  129.929993  88.320000

[5338 rows x 2 columns]

In [10]:
#Retornos diarios en logaritmos
sec_returns_log = np.log(sec_data/sec_data.shift(1))
sec_returns_log

                  PG    BEI.DE
Date
2000-01-03       NaN       NaN
2000-01-04 -0.019429  0.063075
2000-01-05 -0.019208 -0.103797
2000-01-06  0.045032  0.024693
2000-01-07  0.076918  0.020968
...              ...       ...
2021-03-16  0.002951  0.008246
2021-03-17 -0.004041  0.006593
2021-03-18  0.002178 -0.001361
2021-03-19 -0.005376  0.000000
2021-03-22  0.014887  0.002040

[5338 rows x 2 columns]

In [ ]:
#Retorno y Variabilidad anual

In [ ]:
# PG

In [11]:
sec_returns_PG = sec_returns_log['PG'].mean() *250
sec_returns_PG
sec_des_PG = sec_returns_log['PG'].std()* 250**0.5 #Ley de la varianza y std
sec_des_PG
sec_var_PG = sec_returns_log['PG'].std()**2 * 250
sec_var_PG

print (sec_returns_PG,sec_des_PG,sec_var_PG)

0.06797714744068022 0.21794648088006688 0.047500668528005364

In [ ]:
# BEI.DE

In [14]:
sec_returns_BEI = sec_returns_log['BEI.DE'].mean() *250
sec_returns_BEI
sec_des_BEI = sec_returns_log['BEI.DE'].std()* 250**0.5 #Ley de la varianza y std
sec_des_BEI
sec_var_BEI = sec_returns_log['BEI.DE'].std()**2 * 250
sec_var_BEI

print (sec_returns_BEI,sec_des_BEI,sec_var_BEI)

0.0785980979770028 0.27488868912290265 0.0755637914077078

In [15]:
sec_returns_log[['PG','BEI.DE']].mean() *250

PG        0.067977
BEI.DE    0.078598
dtype: float64

In [16]:
sec_returns_log[['PG','BEI.DE']].std() * 250**0.5

PG        0.217946
BEI.DE    0.274889
dtype: float64

# Covariance and Correlation
Price vs Reuturn

In [17]:
# Varianza
sec_returns_log[['PG','BEI.DE']].var() *250

PG        0.047501
BEI.DE    0.075564
dtype: float64

In [19]:
# Matrix Covariance
cov_matrix= sec_returns_log.cov() *250
cov_matrix

              PG    BEI.DE
PG      0.047501  0.007951
BEI.DE  0.007951  0.075564

In [21]:
# Matrix Correlation
corr_matrix= sec_returns_log.corr() #Correlaciones de los retornos
corr_matrix

              PG    BEI.DE
PG      1.000000  0.132165
BEI.DE  0.132165  1.000000

# Portafolio Variance
(w1o1 + w2o2...)^2   
Calcular:   
1. Las std() de las acciones.  
2. Correlacion entre las acciones.  
Riesgo Sistematico: Afecta a todos. Guerras, Recesion.  
Riesgo No sistematico: Riesgo especifico de la empresa en su mercado

In [33]:
weigths = np.array([0.5,0.5])

In [52]:
# Varianza del Portafolio
var_por= np.dot(weigths.T,np.dot(cov_matrix,weigths))
var_por

0.034741665472456024

In [41]:
# Volatilidad del portafolio

In [42]:
std_por= np.dot(weigths.T,np.dot(cov_matrix,weigths))**0.5
std_por

0.1863911625385067

# Riesgo Diversificable y no Diversificable
Riesgo Diversificable = portafolio variance - weight annual variances

In [44]:
weigths

array([0.5, 0.5])

In [50]:
# Riesgo Diversificable
PG_var_a=sec_returns_log[['PG']].var() * 250
PG_var_a

PG    0.047501
dtype: float64

In [51]:
BEI_var_a=sec_returns_log[['BEI.DE']].var() * 250
BEI_var_a

BEI.DE    0.075564
dtype: float64

In [53]:
dr= var_por -(weigths[0]**2 * PG_var_a) -(weigths[1]**2 * BEI_var_a) 
dr

BEI.DE   NaN
PG       NaN
dtype: float64

In [56]:
float(PG_var_a)

0.047500668528005364