In [1]:
import numpy as np
import pandas as pd
from pandas_datareader import data as wb
import matplotlib.pyplot as plt

In [2]:
tickers = ['PG', 'BEI.DE']

sec_data = pd.DataFrame()

for t in tickers:
    sec_data[t] = wb.DataReader(t, data_source='yahoo', start='2007-1-1')['Adj Close']

In [3]:
sec_data.tail()

                   PG     BEI.DE
Date
2019-01-29  93.540001  87.139999
2019-01-30  94.519997  87.339996
2019-01-31  96.470001  87.300003
2019-02-01  97.470001  87.500000
2019-02-05  97.839996  90.599998

In [4]:
sec_returns = np.log(sec_data / sec_data.shift(1))

In [5]:
sec_returns

                  PG    BEI.DE
Date
2007-01-03       NaN       NaN
2007-01-04 -0.007621  0.006545
2007-01-05 -0.008624 -0.020772
2007-01-08  0.002202  0.000202
2007-01-09 -0.002517 -0.022858
2007-01-10  0.011901 -0.012673
2007-01-11  0.006207  0.007498
2007-01-12  0.005554  0.009295
2007-01-16  0.000000  0.024572
2007-01-17  0.010304 -0.041784
2007-01-18  0.002750  0.011025
2007-01-19  0.008357 -0.002071
2007-01-22 -0.005615 -0.000829
2007-01-23 -0.001218  0.001037
2007-01-24 -0.001982  0.013382
2007-01-25 -0.009047 -0.019619
2007-01-26 -0.000925  0.000208
2007-01-29  0.000309  0.013051
2007-01-30 -0.004480  0.026202
2007-01-31  0.004326  0.032932
2007-02-01  0.007219 -0.010923
2007-02-02  0.000000  0.007035
2007-02-05 -0.002912  0.000973
2007-02-06 -0.008633 -0.004876
2007-02-07 -0.001704 -0.000391
2007-02-08  0.001704 -0.010617
2007-02-09 -0.002480  0.001777
2007-02-12 -0.004199 -0.000987
2007-02-13  0.008535  0.001382
2007-02-14  0.002624  0.012934
...              ...       ...
2018-12-20 -0.008537 -0.003229
2018-12-21 -0.000110 -0.000216
2018-12-24 -0.040492       NaN
2018-12-26  0.030772       NaN
2018-12-27  0.021197       NaN
2018-12-28 -0.009170  0.006604
2018-12-31  0.008083       NaN
2019-01-02 -0.006987       NaN
2019-01-03 -0.007036 -0.005458
2019-01-04  0.020205  0.008935
2019-01-07 -0.004008 -0.009811
2019-01-08  0.003684 -0.006595
2019-01-09 -0.016466 -0.004642
2019-01-10  0.002416  0.004201
2019-01-11  0.006560 -0.001767
2019-01-14 -0.006779 -0.024162
2019-01-15  0.009391 -0.001586
2019-01-16 -0.006980  0.001813
2019-01-17 -0.000144 -0.002720
2019-01-18  0.008569  0.002720
2019-01-22 -0.010778 -0.017356
2019-01-23  0.047505 -0.002075
2019-01-24 -0.005710 -0.013011
2019-01-25 -0.007451 -0.003749
2019-01-28 -0.000855  0.007484
2019-01-29  0.000214  0.015031
2019-01-30  0.010422  0.002292
2019-01-31  0.020421 -0.000458
2019-02-01  0.010313  0.002288
2019-02-05  0.003789  0.034815

[3043 rows x 2 columns]

## PG

In [6]:
sec_returns['PG'].mean()

0.00025847530856717857

In [7]:
sec_returns['PG'].mean() * 250

0.06461882714179465

In [8]:
sec_returns['PG'].std()

0.011020216350680817

In [9]:
sec_returns['PG'].std() * 250 ** 0.5

0.17424491987990123

## Beiersdorf

In [10]:
sec_returns['BEI.DE'].mean()

0.00025465411886339595

In [11]:
sec_returns['BEI.DE'].mean() * 250

0.06366352971584899

In [12]:
sec_returns['BEI.DE'].std()

0.013689721709750486

In [13]:
sec_returns['BEI.DE'].std() * 250 ** 0.5

0.21645350568333016

Final Results:

In [14]:
print (sec_returns['PG'].mean() * 250)
print (sec_returns['BEI.DE'].mean() * 250)

0.06461882714179465
0.06366352971584899

In [15]:
sec_returns['PG', 'BEI.DE'].mean() * 250

KeyError: ('PG', 'BEI.DE')

In [16]:
sec_returns[['PG', 'BEI.DE']].mean() * 250

PG        0.064619
BEI.DE    0.063664
dtype: float64

In [17]:
sec_returns[['PG', 'BEI.DE']].std() * 250 ** 0.5

PG        0.174245
BEI.DE    0.216454
dtype: float64