## Simpler Returns - Part I

*Suggested Answers follow (usually there are multiple ways to solve a problem in Python).*

Download the data for Microsoft (‘MSFT’) from Yahoo Finance for the period ‘2000-1-1’ until today.

In [1]:
import numpy as np
from pandas_datareader import data as wb

In [2]:
MSFT = wb.DataReader('MSFT', data_source='yahoo', start='2000-1-1')
MSFT

,High,Low,Open,Close,Volume,Adj Close
Date,,,,,,
2000-01-03,59.312500,56.000000,58.687500,58.281250,53228400.0,42.295185
2000-01-04,58.562500,56.125000,56.781250,56.312500,54119000.0,40.866425
2000-01-05,58.187500,54.687500,55.562500,56.906250,64059600.0,41.297348
2000-01-06,56.937500,54.187500,56.093750,55.000000,54976600.0,39.913952
2000-01-07,56.125000,53.656250,54.312500,55.718750,62013600.0,40.435547
2000-01-10,56.843750,55.687500,56.718750,56.125000,44963600.0,40.730385
2000-01-11,57.125000,54.343750,55.750000,54.687500,46743600.0,39.687164
2000-01-12,54.437500,52.218750,54.250000,52.906250,66532400.0,38.394501
2000-01-13,54.312500,50.750000,52.187500,53.906250,83144000.0,39.120216
2000-01-14,56.968750,52.875000,53.593750,56.125000,73416400.0,40.730385
2000-01-18,58.250000,55.875000,55.906250,57.656250,81483600.0,41.841614
2000-01-19,55.750000,53.000000,55.250000,53.500000,97568200.0,38.825386
2000-01-20,54.843750,52.937500,53.531250,53.000000,56349800.0,38.462540
2000-01-21,53.625000,51.625000,53.500000,51.875000,68416200.0,37.646118
2000-01-24,52.843750,50.406250,51.898399,50.625000,63597600.0,36.738991
2000-01-25,51.937500,49.781250,50.500000,51.406250,59823200.0,37.305939
2000-01-26,51.750000,49.562500,51.218750,49.687500,49365000.0,36.058632
2000-01-27,50.593750,48.625000,49.945301,49.375000,63654800.0,35.831844
2000-01-28,50.125000,48.625000,49.062500,49.125000,58225400.0,35.650417
2000-01-31,49.093750,47.437500,48.812500,48.937500,73194200.0,35.514324
2000-02-01,51.625000,48.843750,49.250000,51.468750,70196600.0,37.351295
2000-02-02,51.968750,50.250000,51.218750,50.406250,49915600.0,36.580242
2000-02-03,52.093750,50.062500,51.031250,51.812500,49186000.0,37.600739
2000-02-04,54.000000,52.070301,52.187500,53.281250,55365400.0,38.666641
2000-02-07,53.437500,52.125000,53.406250,53.312500,40005800.0,38.689304
2000-02-08,55.000000,53.218750,53.218750,54.968750,56229000.0,39.891277
2000-02-09,54.718750,51.937500,54.718750,52.000000,55090000.0,37.736809
2000-02-10,53.281250,51.250000,51.945301,53.000000,54527800.0,38.462540
2000-02-11,52.437500,49.562500,52.437500,49.968750,115559000.0,36.262733
2000-02-14,50.875000,49.531250,50.617149,49.812500,81028600.0,36.149353
...,...,...,...,...,...,...
2018-12-20,104.309998,98.779999,103.050003,101.510002,70334200.0,101.510002
2018-12-21,103.000000,97.459999,101.629997,98.230003,111242100.0,98.230003
2018-12-24,97.970001,93.980003,97.680000,94.129997,43935200.0,94.129997
2018-12-26,100.690002,93.959999,95.139999,100.559998,51634800.0,100.559998
2018-12-27,101.190002,96.400002,99.300003,101.180000,49498500.0,101.180000
2018-12-28,102.410004,99.519997,102.089996,100.389999,38196300.0,100.389999
2018-12-31,102.400002,100.440002,101.290001,101.570000,33173800.0,101.570000
2019-01-02,101.750000,98.940002,99.550003,101.120003,35329300.0,101.120003
2019-01-03,100.190002,97.199997,100.099998,97.400002,42579100.0,97.400002
2019-01-04,102.510002,98.930000,99.720001,101.930000,44060600.0,101.930000
2019-01-07,103.269997,100.980003,101.639999,102.059998,35656100.0,102.059998
2019-01-08,103.970001,101.709999,103.040001,102.800003,31514400.0,102.800003
2019-01-09,104.879997,103.239998,103.860001,104.269997,32280800.0,104.269997
2019-01-10,103.750000,102.379997,103.220001,103.599998,30067600.0,103.599998
2019-01-11,103.440002,101.639999,103.190002,102.800003,28314200.0,102.800003
2019-01-14,102.870003,101.260002,101.900002,102.050003,28437100.0,102.050003
2019-01-15,105.050003,101.879997,102.510002,105.010002,31587600.0,105.010002
2019-01-16,106.260002,104.959999,105.260002,105.379997,29853900.0,105.379997
2019-01-17,106.629997,104.760002,105.000000,106.120003,28393000.0,106.120003
2019-01-18,107.900002,105.910004,107.459999,107.709999,37427600.0,107.709999
2019-01-22,107.099998,104.860001,106.750000,105.680000,32371300.0,105.680000
2019-01-23,107.040001,105.339996,106.120003,106.709999,25874300.0,106.709999
2019-01-24,107.000000,105.339996,106.860001,106.199997,23164800.0,106.199997
2019-01-25,107.879997,106.199997,107.239998,107.169998,31225600.0,107.169998
2019-01-28,106.480003,104.660004,106.260002,105.080002,29476700.0,105.080002
2019-01-29,104.970001,102.169998,104.879997,102.940002,31490500.0,102.940002
2019-01-30,106.379997,104.330002,104.620003,106.379997,49471900.0,106.379997
2019-01-31,105.220001,103.180000,103.800003,104.430000,55636400.0,104.430000
2019-02-01,104.099998,102.349998,103.779999,102.779999,35264100.0,102.779999
2019-02-04,105.800003,102.769997,102.870003,105.739998,31315282.0,105.739998

Apply the .**head()** and **.tail()** methods to check if the data is ok. Always pay attention to the dates. Try to get an idea about how the stock price changed during the period.

In [3]:
MSFT.head()

               High       Low      Open     Close      Volume  Adj Close
Date
2000-01-03  59.3125  56.00000  58.68750  58.28125  53228400.0  42.295185
2000-01-04  58.5625  56.12500  56.78125  56.31250  54119000.0  40.866425
2000-01-05  58.1875  54.68750  55.56250  56.90625  64059600.0  41.297348
2000-01-06  56.9375  54.18750  56.09375  55.00000  54976600.0  39.913952
2000-01-07  56.1250  53.65625  54.31250  55.71875  62013600.0  40.435547

In [4]:
MSFT.tail()

,High,Low,Open,Close,Volume,Adj Close
Date,,,,,,
2019-01-29,104.970001,102.169998,104.879997,102.940002,31490500.0,102.940002
2019-01-30,106.379997,104.330002,104.620003,106.379997,49471900.0,106.379997
2019-01-31,105.220001,103.180000,103.800003,104.430000,55636400.0,104.430000
2019-02-01,104.099998,102.349998,103.779999,102.779999,35264100.0,102.779999
2019-02-04,105.800003,102.769997,102.870003,105.739998,31315282.0,105.739998

### Simple Rate of Return

Calculate the simple returns of ‘MSFT’ for the given timeframe.

$$
\frac{P_1 - P_0}{P_0} = \frac{P_1}{P_0} - 1
$$

In [5]:
MSFT['simple_return'] = (MSFT['Adj Close'] / MSFT['Adj Close'].shift(1)) - 1
print MSFT['simple_return']

Date
2000-01-03         NaN
2000-01-04   -0.033781
2000-01-05    0.010545
2000-01-06   -0.033498
2000-01-07    0.013068
2000-01-10    0.007292
2000-01-11   -0.025613
2000-01-12   -0.032571
2000-01-13    0.018902
2000-01-14    0.041159
2000-01-18    0.027283
2000-01-19   -0.072087
2000-01-20   -0.009346
2000-01-21   -0.021226
2000-01-24   -0.024096
2000-01-25    0.015432
2000-01-26   -0.033435
2000-01-27   -0.006289
2000-01-28   -0.005063
2000-01-31   -0.003817
2000-02-01    0.051725
2000-02-02   -0.020643
2000-02-03    0.027897
2000-02-04    0.028348
2000-02-07    0.000586
2000-02-08    0.031067
2000-02-09   -0.054009
2000-02-10    0.019231
2000-02-11   -0.057193
2000-02-14   -0.003127
                ...
2018-12-20   -0.021024
2018-12-21   -0.032312
2018-12-24   -0.041739
2018-12-26    0.068310
2018-12-27    0.006166
2018-12-28   -0.007808
2018-12-31    0.011754
2019-01-02   -0.004430
2019-01-03   -0.036788
2019-01-04    0.046509
2019-01-07    0.001275
2019-01-08    0.007251
2019-01-09    0.014300
2019-01-10   -0.006426
2019-01-11   -0.007722
2019-01-14   -0.007296
2019-01-15    0.029005
2019-01-16    0.003523
2019-01-17    0.007022
2019-01-18    0.014983
2019-01-22   -0.018847
2019-01-23    0.009746
2019-01-24   -0.004779
2019-01-25    0.009134
2019-01-28   -0.019502
2019-01-29   -0.020365
2019-01-30    0.033417
2019-01-31   -0.018330
2019-02-01   -0.015800
2019-02-04    0.028799
Name: simple_return, Length: 4802, dtype: float64