In [1]:
import numpy as np
import pandas as pd
from pandas_datareader import data as wb
import matplotlib.pyplot as plt

In [2]:
tickers = ['PG', 'BEI.DE']

sec_data = pd.DataFrame()

for t in tickers:
    sec_data[t] = wb.DataReader(t, data_source='yahoo', start='2007-1-1')['Adj Close']

In [3]:
sec_data.tail()

                    PG     BEI.DE
Date
2021-03-17  128.419998  88.260002
2021-03-18  128.699997  88.139999
2021-03-19  128.009995  88.139999
2021-03-22  130.179993  88.320000
2021-03-23  131.455002  89.660004

In [4]:
sec_returns = np.log(sec_data / sec_data.shift(1))

In [5]:
sec_returns

                  PG    BEI.DE
Date
2007-01-03       NaN       NaN
2007-01-04 -0.007621  0.006545
2007-01-05 -0.008624 -0.020772
2007-01-08  0.002202  0.000202
2007-01-09 -0.002518 -0.022858
...              ...       ...
2021-03-17 -0.004041  0.006593
2021-03-18  0.002178 -0.001361
2021-03-19 -0.005376  0.000000
2021-03-22  0.016810  0.002040
2021-03-23  0.009747  0.015058

[3580 rows x 2 columns]

## PG

In [6]:
sec_returns['PG'].mean()

0.0003162833284052721

In [7]:
sec_returns['PG'].mean() * 250

0.07907083210131803

In [8]:
sec_returns['PG'].std()

0.01186194374532573

In [9]:
sec_returns['PG'].std() * 250 ** 0.5

0.18755379856008794

## Beiersdorf

In [10]:
sec_returns['BEI.DE'].mean()

0.00020102262962798349

In [11]:
sec_returns['BEI.DE'].mean() * 250

0.05025565740699587

In [12]:
sec_returns['BEI.DE'].std()

0.013861098052981939

In [13]:
sec_returns['BEI.DE'].std() * 250 ** 0.5

0.21916320359174102

***

In [14]:
print (sec_returns['PG'].mean() * 250)
print (sec_returns['BEI.DE'].mean() * 250)

0.07907083210131803
0.05025565740699587

In [16]:
sec_returns.mean() * 250

PG        0.079071
BEI.DE    0.050256
dtype: float64

In [17]:
sec_returns[['PG', 'BEI.DE']].mean() * 250

PG        0.079071
BEI.DE    0.050256
dtype: float64

In [18]:
sec_returns[['PG', 'BEI.DE']].std() * 250 ** 0.5

PG        0.187554
BEI.DE    0.219163
dtype: float64

## Covariance and Correlation


\begin{eqnarray*}
Covariance Matrix: \  \   
\Sigma = \begin{bmatrix}
        \sigma_{1}^2 \ \sigma_{12} \ \dots \ \sigma_{1I} \\
        \sigma_{21} \ \sigma_{2}^2 \ \dots \ \sigma_{2I} \\
        \vdots \ \vdots \ \ddots \ \vdots \\
        \sigma_{I1} \ \sigma_{I2} \ \dots \ \sigma_{I}^2
    \end{bmatrix}
\end{eqnarray*}

In [19]:
PG_var = sec_returns['PG'].var() 
PG_var

0.0001407057094172722

In [20]:
BEI_var = sec_returns['BEI.DE'].var() 
BEI_var

0.0001921300392343797

In [21]:
PG_var_a = sec_returns['PG'].var() * 250
PG_var_a

0.03517642735431805

In [22]:
BEI_var_a = sec_returns['BEI.DE'].var() * 250
BEI_var_a

0.04803250980859493

***

In [23]:
cov_matrix = sec_returns.cov()
cov_matrix

              PG    BEI.DE
PG      0.000141  0.000045
BEI.DE  0.000045  0.000192

In [24]:
cov_matrix_a = sec_returns.cov() * 250
cov_matrix_a

              PG    BEI.DE
PG      0.035176  0.011147
BEI.DE  0.011147  0.048033

***

In [25]:
corr_matrix = sec_returns.corr()
corr_matrix

              PG    BEI.DE
PG      1.000000  0.270801
BEI.DE  0.270801  1.000000

## Calculating Portfolio Risk

Equal weigthing scheme:

In [26]:
weights = np.array([0.5, 0.5])

Portfolio Variance:

In [27]:
pfolio_var = np.dot(weights.T, np.dot(sec_returns.cov() * 250, weights))
pfolio_var

0.02637561091259701

Portfolio Volatility:

In [28]:
pfolio_vol = (np.dot(weights.T, np.dot(sec_returns.cov() * 250, weights))) ** 0.5
pfolio_vol

0.1624056985225488

In [29]:
print (str(round(pfolio_vol, 5) * 100) + ' %')

16.241 %