# List [ item 1, item 2,.....]

In [4]:
participants = ["Mateo", "David","Wilmer","Jenny", "Sofia"]
participants

['Mateo', 'David', 'Wilmer', 'Jenny', 'Sofia']

In [3]:
print (participants[2])

Wilmer

In [8]:
print (participants[-1] , participants[-3])

Sofia Wilmer

## Reemplazar
participants[4] = "Jorge"
## Eliminar
del participants[-1]
## A単adir
participants.append("Kobe") #De uno en uno
participants.extend(["Gigi", "Lakers","Spurs"]) #Una lista

In [10]:
participants[4] = "Jorge"
print (participants)

['Mateo', 'David', 'Wilmer', 'Jenny', 'Jorge']

In [11]:
#Eliminar elementos de una lista

del participants[-1]
participants

['Mateo', 'David', 'Wilmer', 'Jenny']

In [13]:
#A単adir elementos de una lista

participants.append("Kobe")
participants

['Mateo', 'David', 'Wilmer', 'Jenny', 'Kobe']

In [15]:
participants.extend(["Gigi", "Lakers","Spurs"])
participants

['Mateo',
 'David',
 'Wilmer',
 'Jenny',
 'Kobe',
 ['Gigi', 'Lakers', 'Spurs'],
 'Gigi',
 'Lakers',
 'Spurs']

In [16]:
del participants[5]
participants

['Mateo', 'David', 'Wilmer', 'Jenny', 'Kobe', 'Gigi', 'Lakers', 'Spurs']

In [17]:
len(participants)

8

# List Slicing

In [20]:
participants[3:7]

['Jenny', 'Kobe', 'Gigi', 'Lakers']

In [21]:
participants[:2]

['Mateo', 'David']

In [22]:
participants.index("Gigi") #Para saber la posicion de objeto

5

# Bigger List

In [23]:
Newcomers = ['josue', 'erika']

In [24]:
Bigger_list = [participants , Newcomers]
Bigger_list

[['Mateo', 'David', 'Wilmer', 'Jenny', 'Kobe', 'Gigi', 'Lakers', 'Spurs'],
 ['josue', 'erika']]

In [27]:
participants.sort(reverse=True) #ordenar de manera alfabetica
participants

['Wilmer', 'Spurs', 'Mateo', 'Lakers', 'Kobe', 'Jenny', 'Gigi', 'David']

# Tuplas (item 1, item 2,.... )
No se pueden cambiar ni modificar, a単adir ni eliminar elementos

In [29]:
tupla1=(1,2,3,"sd")
tupla1

(1, 2, 3, 'sd')

In [32]:
tupla1[3] #Moverme dentro de la tupla

'sd'

In [30]:
 y = 2, 3, 4, 5 #Por default Python Considera como tupla
y

(2, 3, 4, 5)

In [34]:
(a , b,c) = 2,4,5
c

5

In [33]:
List1=[tupla1,y] #Una lista de tuplas
List1

[(1, 2, 3, 'sd'), (2, 3, 4, 5)]

# .split()

In [36]:
(age,years_of_school) = "14,5".split(",")
print (age)
print (years_of_school)

14
5

In [37]:
def square_info(x):
    A= x**2
    P= x*4
    print ("Area and Perimeter")
    return A,P

In [39]:
square_info(4)

Area and Perimeter

(16, 16)

# Diccionarios { 'x' : 'y' ,.... }

In [42]:
dic= {'k1':'cat' , 'k2': 'dog', 'k3':'mouse', 'k4':'fish'}
dic

{'k1': 'cat', 'k2': 'dog', 'k3': 'mouse', 'k4': 'fish'}

In [44]:
dic['k4']

'fish'

## A単adir elementos

In [45]:
dic['k5']= "parrot"
dic

{'k1': 'cat', 'k2': 'dog', 'k3': 'mouse', 'k4': 'fish', 'k5': 'parrot'}

In [46]:
dic['k3']= "monkey"
dic

{'k1': 'cat', 'k2': 'dog', 'k3': 'monkey', 'k4': 'fish', 'k5': 'parrot'}

In [48]:
dep_workers = {'dep1':"Oscar", 'dep2':["Carlos","Alberto" ,"Wilmer"]}
dep_workers['dep2']

['Carlos', 'Alberto', 'Wilmer']

In [50]:
team={}
team['Base'] = "Dennis"
team['Escolta']="Kuzma"
team['Alero']= 'KCP'
team['Ala']= 'LBJ'
team['Pirvot']='AD'
team

{'Base': 'Dennis',
 'Escolta': 'Kuzma',
 'Alero': 'KCP',
 'Ala': 'LBJ',
 'Pirvot': 'AD'}

In [51]:
#Metodo .get()

In [53]:
print (team.get('Base'))

Dennis